<!DOCTYPE html>
<html ng-app="ng.jwt.workshop">
<head>
  <title>NG-JWT-Workshop</title>
  <script src="angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">
<form ng-submit="login(username, password)">
  <div>
    <label>Username:</label>
    <input type="text" ng-model="username"/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" ng-model="password"/>
  </div>
  <div>
    <input type="submit" value="Log In"/>
  </div>
</form>

<script src="script.js"></script>
</body>
</html>