.main-alert {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
}

.main-wrapper > div {
  position: absolute;
  left: 0;
  right: 0;
}

.data-stuff {
  max-width: 600px;
  text-align: center;
  font-size: 24px;
  color: white;
}

a {
  cursor: pointer;
  color: #FF8B8B;
}
a:hover, a:focus {
  color: #FF4D4D;
  text-decoration: none;
}

.alert-hidden {
  visibility: hidden;
}


.funny-pic {
  max-width: 570px;
  max-height: 450px;
}

button {
  outline: none;
}

.ng-cloak {
  display: none;
}

#footer {
  color: #FFF;
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
}

#footer a {
  color: #DADADA;
}

#footer a:hover, #footer a:focus {
  color: #b3b3b3;
}


/* basically a copy paste from: http://bootsnipp.com/snippets/featured/login-screen-with-background  */
body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eee;
}
.btn
{
  outline:0;
  border:none;
  border-top:none;
  border-bottom:none;
  border-left:none;
  border-right:none;
  box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
  outline:0;
  -webkit-outline:0;
  -moz-outline:0;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('bg.jpg');
  background-repeat:repeat;
}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(0,0,0);
  border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}


